* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.button-row button {
  background-color: #0a1cf5;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px 32px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button-row button:hover {
  background-color: #001bbd;
}

.logo-section img {
  display: block;
  margin: 0 auto 20px;
  width: 160px;
  height: auto;
}

.site-name {
  font-size: 30px;
  color: #0a1cf5;
  letter-spacing: 1.5px;
  font-weight: 600;
}

/*lawyer or client*/
.role-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.role-buttons button {
  background-color: #0a1cf5;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.role-buttons button:hover {
  background-color: #001bbd;
}


/* MODAL STYLES */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.role-modal {
  padding-top: 20px;
}

.role-modal h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.role-modal img {
  width: 120px;
  height: auto;
  margin-bottom: 25px;
}

.role-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.role-buttons button {
  background-color: #e7e6f9;
  color: #000;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 220px;
  cursor: pointer;
  transition: 0.3s;
}

.role-buttons button:hover {
  background-color: #d3d2f1;
}


.modal-content h2 {
  margin-bottom: 20px;
  color: #0a1cf5;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.modal-content button {
  background-color: #0a1cf5;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 28px;
  color: #666;
  cursor: pointer;
}
